<h1 style="text-align: center;">How Well Has Formula 1 Reduced Fatalities in Racing?</h1>

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/senna_1994_sanmarino_wreck.jpg"/>
<figcaption style="text-align: center; ">
*Ayrton Sennaâ€™s car, shortly after his fatal accident at the 1994 San Marino Grand Prix.*
</figcaption></figure></p>

## Introduction

It is no secret that motor racing is a dangerous sport. In the seven decades that the Formula 1 World Championship has been contested, 52 drivers have paid the ultimate price in the pursuit of speed and supremacy on track. With wheel-to-wheel racing in open-wheel cars capable of well over 200 miles per hour, nasty accidents are effectively an inevitability. In the event of a crash, a driver can experience in excess of 50G of deceleration.

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/alonso_2016_australia_crash.gif"/>
<figcaption style="text-align: center;">
*Fernando Alonso, 2016 Australian Grand Prix. Alonso was travelling at 190&nbsp;mph (305&nbsp;km/h) when he collided with another driver, losing control of his car and rolling it 540 degrees before slamming into a wall at 45G.*
</figcaption></figure></p>

## Prerequesites

A couple packages are necessary for the code in this notebook to run. The import statements for those packages are as follows:

In [1]:
import numpy
import pandas
import pandasql

## Prep Work

In [2]:
# Load data from CSV files into Pandas dataframes
circuits = pandas.read_csv(
    "f1db/circuits.csv",
    names = [
        "circuitId",
        "circuitRef",
        "name",
        "location",
        "country",
        "lat",
        "lng",
        "alt",
        "url",
    ]
)
constructorResults = pandas.read_csv(
    "f1db/constructor_results.csv",
    names = [
        "constructorResultsId",
        "raceId",
        "constructorId",
        "points",
        "status",
    ]
)
constructorStandings = pandas.read_csv(
    "f1db/constructor_standings.csv",
    names = [
        "constructorStandingsId",
        "raceId",
        "constructorId",
        "points",
        "position",
        "positionText",
        "wins",
    ]
)
constructors = pandas.read_csv(
    "f1db/constructors.csv",
    names = [
        "constructorId",
        "constructorRef",
        "name",
        "nationality",
        "url",
    ]
)
driverStandings = pandas.read_csv(
    "f1db/driver_standings.csv",
    names = [
        "driverStandingsId",
        "raceId",
        "driverId",
        "points",
        "position",
        "positionText",
        "wins",
    ]
)
drivers = pandas.read_csv(
    "f1db/driver.csv",
    names = [
        "driverId",
        "driverRef",
        "number",
        "code",
        "forename",
        "surname",
        "dob",
        "nationality",
        "url",
    ]
)
lapTimes = pandas.read_csv(
    "f1db/lap_times.csv",
    names = [
        "raceId",
        "driverId",
        "lap",
        "position",
        "time",
        "milliseconds",
    ]
)
pitStops = pandas.read_csv(
    "f1db/pit_stops.csv",
    names = [
        "raceId",
        "driverId",
        "stop",
        "lap",
        "time",
        "duration",
        "milliseconds",
    ]
)
qualifying = pandas.read_csv(
    "f1db/qualifying.csv",
    names = [
        "qualifyId",
        "raceId",
        "driverId",
        "constructorId",
        "number",
        "position",
        "q1",
        "q2",
        "q3",
    ]
)
races = pandas.read_csv(
    "f1db/races.csv",
    names = [
        "raceId",
        "year",
        "round",
        "circuitId",
        "name",
        "date",
        "time",
        "url",
    ]
)
results = pandas.read_csv(
    "f1db/results.csv",
    names = [
        "resultId",
        "raceId",
        "driverId",
        "constructorId",
        "number",
        "grid",
        "position",
        "positionText",
        "positionOrder",
        "points",
        "laps",
        "time",
        "milliseconds",
        "fastestLap",
        "rank",
        "fastestLapTime",
        "fastestLapSpeed",
        "statusId",
    ]
)
seasons = pandas.read_csv(
    "f1db/seasons.csv",
    names = [
        "year",
        "url",
    ]
)
status = pandas.read_csv(
    "f1db/status.csv",
    names = [
        "statusId",
        "status",
    ]
)

# Do some housekeeping on the data, normalize null, that sort of stuff

def cleanup(dataframe):
    dataframe.replace("\\N", numpy.nan, True)
#     dataframe.drop(columns = "url", inplace = True, errors = "ignore")
    
cleanup(circuits)
cleanup(constructorResults)
cleanup(constructorStandings)
cleanup(constructors)
cleanup(driverStandings)
cleanup(drivers)
cleanup(lapTimes)
cleanup(pitStops)
cleanup(qualifying)
cleanup(races)
cleanup(results)
cleanup(seasons)
cleanup(status)

# circuits
# constructorResults
# constructorStandings
# constructors
# driverStandings
# drivers
# lapTimes
# pitStops
# qualifying
# races
# results
# seasons
# status

In [4]:
# pandas.set_option("display.max_columns", 999)
# pandas.set_option("display.max_rows", 99999)

pandasql.sqldf("""
    WITH A AS (
        SELECT races.year year, races.name race, drivers.forename || ' ' || drivers.surname driver, constructors.name, status.status status
        FROM
            results JOIN
            races ON results.raceId = races.raceId JOIN
            drivers ON results.driverId = drivers.driverId JOIN
            constructors ON results.constructorId = constructors.constructorId JOIN
            status ON results.statusId = status.statusId
        WHERE
            status = 'Accident' OR
            status = 'Collision'
    )
    SELECT year, COUNT(*)
    FROM A
    GROUP BY year
""", globals())

    year  COUNT(*)
0   1950        13
1   1951         9
2   1952         5
3   1953        13
4   1954        13
5   1955        13
6   1956        15
7   1957        15
8   1958        24
9   1959        16
10  1960        14
11  1961        12
12  1962        16
13  1963        15
14  1964         9
15  1965         4
16  1966        13
17  1967         6
18  1968        21
19  1969        11
20  1970        10
21  1971        20
22  1972        22
23  1973        38
24  1974        33
25  1975        54
26  1976        50
27  1977        63
28  1978        49
29  1979        36
..   ...       ...
39  1989        32
40  1990        31
41  1991        16
42  1992        28
43  1993        40
44  1994        49
45  1995        29
46  1996        33
47  1997        29
48  1998        26
49  1999        16
50  2000        30
51  2001        25
52  2002        25
53  2003        23
54  2004        28
55  2005        25
56  2006        41
57  2007        34
58  2008        40
59  2009        29
60  2010        42
61  2011        30
62  2012        43
63  2013        23
64  2014        23
65  2015        18
66  2016        20
67  2017        26
68  2018        26

[69 rows x 2 columns]

In [5]:
pandasql.sqldf("""
    SELECT *
    FROM seasons
""", globals())

    year                                                url
0   2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1   2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2   2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3   2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4   2005  http://en.wikipedia.org/wiki/2005_Formula_One_...
5   2004  http://en.wikipedia.org/wiki/2004_Formula_One_...
6   2003  http://en.wikipedia.org/wiki/2003_Formula_One_...
7   2002  http://en.wikipedia.org/wiki/2002_Formula_One_...
8   2001  http://en.wikipedia.org/wiki/2001_Formula_One_...
9   2000  http://en.wikipedia.org/wiki/2000_Formula_One_...
10  1999  http://en.wikipedia.org/wiki/1999_Formula_One_...
11  1998  http://en.wikipedia.org/wiki/1998_Formula_One_...
12  1997  http://en.wikipedia.org/wiki/1997_Formula_One_...
13  1996  http://en.wikipedia.org/wiki/1996_Formula_One_...
14  1995  http://en.wikipedia.org/wiki/1995_Formula_One_...
15  1994  http://en.wikipedia.org/wiki/1994_Formula_One_...
16  1993  http://en.wikipedia.org/wiki/1993_Formula_One_...
17  1992  http://en.wikipedia.org/wiki/1992_Formula_One_...
18  1991  http://en.wikipedia.org/wiki/1991_Formula_One_...
19  1990  http://en.wikipedia.org/wiki/1990_Formula_One_...
20  2010  http://en.wikipedia.org/wiki/2010_Formula_One_...
21  1989  http://en.wikipedia.org/wiki/1989_Formula_One_...
22  1988  http://en.wikipedia.org/wiki/1988_Formula_One_...
23  1987  http://en.wikipedia.org/wiki/1987_Formula_One_...
24  1986  http://en.wikipedia.org/wiki/1986_Formula_One_...
25  1985  http://en.wikipedia.org/wiki/1985_Formula_One_...
26  1984  http://en.wikipedia.org/wiki/1984_Formula_One_...
27  1983  http://en.wikipedia.org/wiki/1983_Formula_One_...
28  1982  http://en.wikipedia.org/wiki/1982_Formula_One_...
29  1981  http://en.wikipedia.org/wiki/1981_Formula_One_...
..   ...                                                ...
39  1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
40  1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
41  1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
42  1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
43  1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
44  1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
45  1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
46  1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
47  1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
48  1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
49  1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
50  1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
51  1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
52  1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
53  1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
54  1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
55  1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
56  1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
57  1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
58  1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
59  1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
60  1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
61  2011  http://en.wikipedia.org/wiki/2011_Formula_One_...
62  2012  http://en.wikipedia.org/wiki/2012_Formula_One_...
63  2013  http://en.wikipedia.org/wiki/2013_Formula_One_...
64  2014  http://en.wikipedia.org/wiki/2014_Formula_One_...
65  2015  http://en.wikipedia.org/wiki/2015_Formula_One_...
66  2016  https://en.wikipedia.org/wiki/2016_Formula_One...
67  2017  https://en.wikipedia.org/wiki/2017_Formula_One...
68  2018  http://en.wikipedia.org/wiki/2018_FIA_Formula_...

[69 rows x 2 columns]