<h1 style="text-align: center;">How Well Has Formula 1 Reduced Fatalities in Racing?</h1>

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/senna_1994_sanmarino_wreck.jpg"/>
<figcaption style="text-align: center; ">
*Ayrton Senna’s car shortly after his fatal accident at the 1994 San Marino Grand Prix.*
</figcaption></figure></p>

## Introduction

It is no secret that motor racing is a dangerous sport. In the seven decades that the Formula 1 World Championship has been contested, 52 drivers have paid the ultimate price in the pursuit of speed and supremacy on track. With wheel-to-wheel racing in open-cockpit cars capable of well over 200 miles per hour, nasty accidents are an inevitability. In the event of a crash, a driver can experience in excess of 50&nbsp;G of deceleration, potentially suffering fatal head, neck, and spine trauma in the process.

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/alonso_2016_australia_crash.gif"/>
<figcaption style="text-align: center;">
*Fernando Alonso’s accident at the 2016 Australian Grand Prix. Alonso was travelling at 190&nbsp;mph (305&nbsp;km/h) when he collided with another driver, losing control of his car and rolling it in the air before slamming into a wall with 45&nbsp;G of force. Alonso will walk away totally unharmed.*
</figcaption></figure></p>

Nowdays, the governing body of Formula 1, the International Automobile Federation (FIA), takes drivers’ safety very seriously. All drivers must wear a helmet capable of surviving racing impacts, a full-body suit made of fireproof material, and a Head and Neck Support (HANS) device, as well as be strapped into their car securely with a six-point racing harness. The car chassis must survive a series of intensive and comprehensive crash tests and must be equipped with a fire extinguishing system in the event of an engine fire. Fuel tanks must be made out of bulletproof materials to eliminate any possibility of fuel leaking out. A speed limit is enforced in the pit lane, and pit stops must be made safely and under the watch of a fireman.

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/verstappen_1994_germany_fire.gif"/>
<figcaption style="text-align: center;">
*Jos Verstappen’s botched pit stop at the 1994 German Grand Prix. An error during refuelling caused gasoline to spray all over the pit box, the crew members, and the hot car, setting it ablaze. Verstappen will escape with his life and minor burns thanks to his team’s adherence to fire safety protocols as well as the quick reactions of his pit crew.*
</figcaption></figure></p>

It wasn’t always like that. In the early days of Formula 1, racing standards were considerably laxer, and almost no consideration was given to safety. Helmets were not made mandatory until 1952, and even then they were open-face and provided marginal impact absorption. Seat belts were often foregone entirely in the facetious belief that it was better to be ejected from a crashed car then to be trapped inside it. Barriers protecting spectators and crew members from high speed accidents were only installed in the 1970s, and until the 1990s, offered little more shock absorption than hard concrete. Many racetracks featured poorly designed and unforgiving corners that unsettled cars and threw them into barriers.

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/nurburgringnordschleife_flugplatz.jpg"/>
<figcaption style="text-align: center;">
*An airborne car exiting Flugplatz, an infamous corner at the Nordschleife racetrack in Germany with a nasty habit of causing cars to jump and lose control. A spectator will be killed shortly, and the corner will be redesigned in an effort to make it safer. The Nordschleife has been affectionately nicknamed “Green Hell” for being one of the most dangerous racetracks in the world, and for precisely that reason, Formula&nbsp;1 has not raced there since the 1980s.*
</figcaption></figure></p>

Modern Formula 1 is light years safer than it was in the past, but modern Formula 1 remains very dangerous. After Jules Bianchi’s major accident at the 2014 Japanese Grand Prix, the FIA began implementing additional safety changes—a “virtual safety car” to better handle on-track hazards, altered the start times of races to ensure that driver visibility is not affected by the setting sun, and added a “halo” to protect the driver’s head from low obstacles. Jules Bianchi died from his injuries in July 2015, making him the latest death in Formula 1.

<p><figure style="width: 50%; margin: 0 auto">
<img style="width: 100%;" src="media/leclerc_2018_belgium_halo.gif"/>
<figcaption style="text-align: center;">
*Charles Leclerc’s first-corner incident at the 2018 Belgian Grand Prix. The halo was a controvertial addition to the 2018 Formula 1 season, with many condeming it as unsightly, but in December 2018 the FIA concluded that the halo had almost certaily protected Leclerc from certain injury, and likely saved his life.*
</figcaption></figure></p>

## Prerequesites

A couple packages are necessary for the code in this notebook to run. The import statements for those packages are as follows:

In [1]:
import numpy
import pandas
import pandasql

The data is from a database online

In [16]:
# Load data from CSV files into Pandas dataframes
circuits = cleanup(pandas.read_csv(
    "f1db/circuits.csv",
    names = [
        "circuitId",
        "circuitRef",
        "name",
        "location",
        "country",
        "lat",
        "lng",
        "alt",
        "url",
    ]
))
constructorResults = cleanup(pandas.read_csv(
    "f1db/constructor_results.csv",
    names = [
        "constructorResultsId",
        "raceId",
        "constructorId",
        "points",
        "status",
    ]
))
constructorStandings = cleanup(pandas.read_csv(
    "f1db/constructor_standings.csv",
    names = [
        "constructorStandingsId",
        "raceId",
        "constructorId",
        "points",
        "position",
        "positionText",
        "wins",
    ]
))
constructors = cleanup(pandas.read_csv(
    "f1db/constructors.csv",
    names = [
        "constructorId",
        "constructorRef",
        "name",
        "nationality",
        "url",
    ]
))
driverStandings = cleanup(pandas.read_csv(
    "f1db/driver_standings.csv",
    names = [
        "driverStandingsId",
        "raceId",
        "driverId",
        "points",
        "position",
        "positionText",
        "wins",
    ]
))
drivers = cleanup(pandas.read_csv(
    "f1db/driver.csv",
    names = [
        "driverId",
        "driverRef",
        "number",
        "code",
        "forename",
        "surname",
        "dob",
        "nationality",
        "url",
    ]
))
lapTimes = cleanup(pandas.read_csv(
    "f1db/lap_times.csv",
    names = [
        "raceId",
        "driverId",
        "lap",
        "position",
        "time",
        "milliseconds",
    ]
))
pitStops = cleanup(pandas.read_csv(
    "f1db/pit_stops.csv",
    names = [
        "raceId",
        "driverId",
        "stop",
        "lap",
        "time",
        "duration",
        "milliseconds",
    ]
))
qualifying = cleanup(pandas.read_csv(
    "f1db/qualifying.csv",
    names = [
        "qualifyId",
        "raceId",
        "driverId",
        "constructorId",
        "number",
        "position",
        "q1",
        "q2",
        "q3",
    ]
))
races = cleanup(pandas.read_csv(
    "f1db/races.csv",
    names = [
        "raceId",
        "year",
        "round",
        "circuitId",
        "name",
        "date",
        "time",
        "url",
    ]
))
results = cleanup(pandas.read_csv(
    "f1db/results.csv",
    names = [
        "resultId",
        "raceId",
        "driverId",
        "constructorId",
        "number",
        "grid",
        "position",
        "positionText",
        "positionOrder",
        "points",
        "laps",
        "time",
        "milliseconds",
        "fastestLap",
        "rank",
        "fastestLapTime",
        "fastestLapSpeed",
        "statusId",
    ]
))
seasons = cleanup(pandas.read_csv(
    "f1db/seasons.csv",
    names = [
        "year",
        "url",
    ]
))
status = cleanup(pandas.read_csv(
    "f1db/status.csv",
    names = [
        "statusId",
        "status",
    ]
))

# Do some housekeeping on the data, normalize null, that sort of stuff
def cleanup(dataframe):
    dataframe.replace("\\N", numpy.nan, True)
#     dataframe.drop(columns = "url", inplace = True, errors = "ignore")
    return dataframe

## Injuries in the Paddock

In [32]:
# pandas.set_option("display.max_columns", 999)
# pandas.set_option("display.max_rows", 99999)

pandasql.sqldf("""
    SELECT year, COUNT(*) countInjuries
    FROM
        results JOIN
        races ON results.raceId = races.raceId JOIN
        status ON results.statusId = status.statusId
    WHERE
        status = 'Accident' OR
        status = 'Collision' OR
        status = 'Injured' OR
        status = 'Injury' OR
        status = 'Fatal accident' OR
        status = 'Eye injury' OR
        status = 'Collision damage'
    GROUP BY year
""", globals())

    year  countInjuries
0   1950             13
1   1951              9
2   1952              5
3   1953             13
4   1954             13
5   1955             13
6   1956             15
7   1957             15
8   1958             24
9   1959             16
10  1960             14
11  1961             12
12  1962             16
13  1963             15
14  1964              9
15  1965              4
16  1966             14
17  1967              6
18  1968             21
19  1969             11
20  1970             11
21  1971             20
22  1972             23
23  1973             38
24  1974             34
25  1975             54
26  1976             50
27  1977             64
28  1978             49
29  1979             36
..   ...            ...
39  1989             32
40  1990             32
41  1991             16
42  1992             28
43  1993             41
44  1994             52
45  1995             30
46  1996             34
47  1997             30
48  1998             27
49  1999             16
50  2000             30
51  2001             25
52  2002             27
53  2003             24
54  2004             28
55  2005             25
56  2006             41
57  2007             34
58  2008             40
59  2009             30
60  2010             42
61  2011             31
62  2012             44
63  2013             23
64  2014             24
65  2015             20
66  2016             26
67  2017             34
68  2018             31

[69 rows x 2 columns]

In [29]:
pandasql.sqldf("""
    SELECT year, COUNT(*)
    FROM races
    GROUP BY year
    ORDER BY year DESC
""", globals())

    year  COUNT(*)
0   2018        21
1   2017        20
2   2016        21
3   2015        19
4   2014        19
5   2013        19
6   2012        20
7   2011        19
8   2010        19
9   2009        17
10  2008        18
11  2007        17
12  2006        18
13  2005        19
14  2004        18
15  2003        16
16  2002        17
17  2001        17
18  2000        17
19  1999        16
20  1998        16
21  1997        17
22  1996        16
23  1995        17
24  1994        16
25  1993        16
26  1992        16
27  1991        16
28  1990        16
29  1989        16
..   ...       ...
39  1979        15
40  1978        16
41  1977        17
42  1976        16
43  1975        14
44  1974        15
45  1973        15
46  1972        12
47  1971        11
48  1970        13
49  1969        11
50  1968        12
51  1967        11
52  1966         9
53  1965        10
54  1964        10
55  1963        10
56  1962         9
57  1961         8
58  1960        10
59  1959         9
60  1958        11
61  1957         8
62  1956         8
63  1955         7
64  1954         9
65  1953         9
66  1952         8
67  1951         8
68  1950         7

[69 rows x 2 columns]